body {
	background: white !important;
	overflow: hidden !important;
}

#globalContainer, #pagelet_dock, #pagelet_sidebar {
	display: none;
}

.beeperNub {
	display: none;
}

.__tw {
	border: none;
}

._33h {
	border-radius: 50%;
}

#fbNotificationsFlyout {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	border: 0;
	box-shadow: none;
	overflow: hidden;
}

#fbNotificationsFlyout .uiScrollableArea {
	height: calc(100vh - 65px) !important;
}

#fbNotificationsFlyout .uiScrollableAreaBody {
	width: 100vw !important;
}

._4kny ._4962, ._2t-a {
	position: static !important;
}

._1uh-._2s24 {
	position: absolute;
	left: 0;
}
