html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

body {
	position: absolute;
	margin-top: 13px;
	border-radius: 5px;
}

html::before {
	width: 32px;
	height: 13px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -16px;
	background-image: url("./assets/menu-arrow.png");
	background-size: 32px 13px;
	content: "";
}

img {
	display: block;
	margin: 0 auto;
}

webview {
	height: calc(100vh - 13px);
	width: 100vw;
}
