body {
  -webkit-user-select: none;
}

.uiScrollableAreaContent {
  -webkit-user-select: text;
}

#pagelet_bluebar, #pagelet_dock, #pagelet_sidebar, #rightCol, #pageFooter {
    display: none
}
.uiScrollableAreaWithTopShadow.contentBefore::before, .uiScrollableAreaWithShadow.contentAfter::after {
    background: none !important;
}
._1rs .emoticonsPanel ._5r8f .panelFlyoutArrow {
    left: auto !important;
    right: 5px !important;
}
.emoticonsPanel div._5r8f.panelFlyout {
    right: 0 !important;
}
._24g {
    visibility: hidden
}
.fbx #globalContainer, .UIFullPage_Container {
    width: 100%!important;
    padding 0 !important;
}
._ksg {
    border-width: 0 !important;
}
#globalContainer {
    width: auto!important;
    padding-right: 0!important
}
body {
    overflow: hidden!important;
}
._6jw, ._r6, ._2ak, body {
    background-color: #f6f6f6!important;
}
div._2nb {
    right: 0;
    position: absolute;
    left: 298px;
    width: auto!important
}
.uiCloseButton {
    border: 1px solid #ccc;
    border-radius: 999em
}
.uiCloseButton:hover {
    border: 1px solid #6484B5
}
#contentArea, .uiScrollableAreaBody, div.uiScrollableArea {
    width: 100%!important
}
div.wmMasterView {
    width: 298px!important
}
.MercuryThreadImage, ._2w7 {
    border-radius: 999em;
    overflow: hidden
}
._1rw {
    border-color: #e0e0e0
}
._1rs {
    padding: 10px !important;
    background-color: #f6f6f6;
}
._2pt {
    margin: 0;
    border-color: #e0e0e0;
}
div._1s5 {
    right: 10px !important;
    top: 10px !important;
    left: auto!important;
}
ul._281 {
    height: 40px;
}
._1n {
    line-height: 40px;
}
._283 {
    top: 18px;
}
._50p_._282 {
    margin-top: 7px;
}
div.uiContextualLayer.uiContextualLayerBelowRight {
    top: -12px;
}
._r6 {
    padding-top: 7px;
    padding-bottom: 9px;
}
._2nd {
    padding-top: 2px
}
._l3 .emoticon {
    text-indent: -999em;
}
@media (max-width: 649px) {
    ._l4, ._3b, ul.uiList._281._4ki, div._l7.rfloat._ohf, div._1rw {
        display: none;
    }
    div.wmMasterView {
        width: 70px!important
    }
    ._2nb {
        left: 70px!important;
    }
    ._k- {
        border-color: #f6f6f6!important;
    }
    ._2tm {
        background: #F6F6F6!important;
    }
    button._42ft._4jy0._3mv._4jy3._517h._51sy {
        width: 10px;
    }
    .sp_ad5ugN8jTSF.sx_dfa704 {
        margin-right: 10px
    }
    button#u_0_1b._42ft._4jy0._2cna._p._4jy3._517h._51sy {
        width: 11px;
    }
    .sp_0F0jkP9kmet.sx_666843 {
        margin-right: 10px;
    }
}
