html {
    overflow: hidden;
}

/* weird display of input bar above messages, fixes #148*/
._4_j4 {
    display: block;
}

/*  window wrapper */
._4sp8 {
    min-width: 0;
}

/* conversation header */
._5742 {
    display: none !important;
}

/* sidebar */
._1enh {
    max-width: 280px;
    min-width: 280px;
}

@media all and (max-width: 640px) {
    ._1enh {
        min-width: 74px;
        max-width: 74px;
    }
}

._4u-c:not(._1wfr) {
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
}

._1q5- {
    border: none;
}

/* fixing sidebar text-overflow for resized sidebar */
._1htf, ._1ht6 {
    max-width: 100%;
    overflow: hidden;
    display: block;
}

/* sidebar header */
._1enh ._36ic {
    display: none;
}

/* replace emojis */
.emoticon, ._1az {
    background-image: none !important;
    width: auto !important;
    height: auto !important;
}

/* "Get the app"-banner */
._s15 {
    display: none;
}
