html {
    overflow: hidden;
}
#u_0_0._2sdm {
    position: fixed;
    right: 0;
    left: 0;
}

._210n {
    display: none;
}

._s15 {
    display: none !important;
}

._3v_o {
    min-height: 200px;
}

._1q5- {
    border: none;
}

._4u-c {
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
}

._1enh {
    min-width: 280px;
    width: 280px !important;
}

._5irm {
    margin-right: 12px;
}

._1ht1 .emoticon {
    background-image: none !important;
}

._5742, ._36ic._5vn4, ._36ic {
    display: none;
}

._2xhi._5vn4 ._2xhj {
    display: none;
}

/* settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
    display: none !important;
}

._2xhi._5vn4 ._4wzq {
  display: none;
}

._1ht3 ._4ld- {
  box-shadow: 0 0 0 0 rgba(23,135,252, 0.4);
  -webkit-animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(23,135,252, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(23,252,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(23,135,252, 0);
  }
}

#goofy-upload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-size: 20px;
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#goofy-upload div {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
}

@media (max-width: 630px) {
    ._1enh {
        min-width: 0 !important;
        width: 72px !important;
    }
    ._36ic ._4bl7, ._36ic ._4bl9, ._5iwm {
        display: none;
    }

    ._36ic ._4bl8._4bl7 {
        display: block;
        float: none;
        margin-left: 13px;
    }
    ._1q5- {
        right: 0 !important;
        position: absolute !important;
        left: 72px !important;
    }
}
