#u_0_0._2sdm {
    position: fixed;
    right: 0;
    left: 0;
}

._210n {
    display: none;
}

._3v_o {
    min-height: 200px;
}

._1q5- {
    border: none;
}

._2xhi._5vn4 {
    border-right: 1px solid rgba(0, 0, 0, 0.0980392);
}

._1enh {
    min-width: 280px;
    width: 280px !important;
}

._5irm {
    margin-right: 12px;
}

._1ht1 .emoticon {
    background-image: none !important;
}

._5742, ._36ic._5vn4 {
    display: none;
}

#goofy-upload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-size: 20px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#goofy-upload div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 630px) {
    ._1enh {
        min-width: 0 !important;
        width: 72px !important;
    }
    ._36ic ._4bl7, ._36ic ._4bl9, ._5iwm {
        display: none;
    }

    ._36ic ._4bl8._4bl7 {
        display: block;
        float: none;
        margin-left: 13px;
    }
    ._1q5- {
        right: 0 !important;
        position: absolute !important;
        left: 72px !important;
    }
}
